AUTH0_TOKEN_URL="https://example.us.auth0.com/oauth/token"
AUDIENCE="https://example.execute-api.us-west-2.amazonaws.com/prod"
SCOPE=""
CLIENT_ID=""
CLIENT_SECRET=""
USERNAMES="username1,username2,username3,username4"
PASSWORDS="pw1,pw2,pw3,pw4"
GET_CASE_ENDPOINT="https://example.execute-api.us-west-2.amazonaws.com/prod/case"
SUBMIT_JUDGMENT_ENDPOINT="https://example.execute-api.us-west-2.amazonaws.com/prod/judgment"
TABLE_NAME="tableName"
AWS_REGION="us-west-2"
AWS_SDK_LOAD_CONFIG="1"
AWS_PROFILE="namedprofile"